.idea
.idea/
*.iml
/bin/*
*.class
target/
*/.classpath
*/.project
.settings
*/bin
*.log
.project
.DS_Store
src/.DS_Store
src/main/.DS_Store
src/main/webapp/.DS_Store
src/main/webapp/WEB-INF/.DS_Store
src/main/webapp/resources/.DS_Store
webapp/.DS_Store
webapp/WEB-INF/.DS_Store
webapp/resources/.DS_Store
